<section class="dw-chat-card">
    <div class="cell cell--chat dwmacros">
        <h2 class="cell__title">{{title}}</h2>
        {{#if flavor}}
        <div class="row">
            <em>{{flavor}}</em>
        </div>
        {{/if}}
        <div class="dice-mod">
            <div class="mod-flex">
                <div class="marg-left">
                    <b>Ability:</b> {{ability}}
                </div>
                <div class="marg-left">
                    <b>Ability Mod:</b> {{mod}}
                </div>
            </div>
            <div class="mod-flex">
                <div class="marg-left">
                    <b>Ongoing Mod:</b> {{ongoing}}
                </div>
                <div class="marg-left">
                    <b>Sustained Mod:</b> {{sustained}}
                </div>
            </div>
        </div>
        {{#if details}}
        <div class="row">
            {{{details}}}
        </div>
        {{/if}}
        {{#if rollDw}}
        <div class="roll" style="{{style}}">
            {{{rollDw}}}
        </div>
        {{/if}}
    </div>
</section>