<div class="form-group dwmacros horiz dialog prepareSpells" id="prepareSpells">
    <div class="dwmacros spellLevel">
        <h2 class="dwmacros cell__title">Rotes</h2>
    </div>
    <div class="dwmacros prepSpell">
        {{#each rotes}}
        <div>
            <input id="{{this}}" name="{{this}}" type="checkbox" value="0" checked/><label for="{{this}}">{{this}}</label>
        </div>
        {{/each}}
    </div>
    {{#each spellData}}
    <div class="dwmacros spellLevel">
        <h2 class="dwmacros cell__title">Level {{lvl}}</h2>
    </div>
    <div class="dwmacros prepSpell">
        {{#each spells}}
        <div>
            <input id="{{this}}" type="checkbox" name="{{this}}" value="{{../lvl}}"/><label for="{{this}}">{{this}}</label>
        </div>
        {{/each}}
    </div>
    {{/each}}
</div>