.dwmacros {
    /* ----------------------------------------- */
    /*  Element Styles                           */
    /* ----------------------------------------- */
    /* Form Groups */
    /* Tags */
}

.dwmacros .words {
    margin-bottom: 10px;
}

.dwmacros .dieFail {
    background: #EEAA8880;
}

.dwmacros .dieSuccess {
    background: #BBBB8880;
}

.dwmacros .diePartial {
    background: #EEDD9980;
}

.dwmacros .dieDamage {
    background: #DBE6EC;
}

.dwmacros .dialog-buttons {
    -ms-flex-direction: column !important;
    flex-direction: column !important;
}

.dwmacros .dialog-buttons .prepareSpells {
    -ms-flex-direction: row;
    flex-direction: row;
}

.dwmacros .dialog-buttons button {
    margin: 5px 0 0 0;
    justify-content: left;
    text-align: left;
}

.dwmacros .select {
    width: 100% !important;
}

.dwmacros .bottom-margin {
    margin-bottom: 10px;
}

.dwmacros .prepSpell {
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 10px;
}

.dwmacros .cell__title {
    font-family: "Metamorphous", serif;
    font-weight: bold;
    font-size: 16px;
}

.dwmacros .marg-left {
    margin-left: 5px;
    flex: 50%;
}

.dwmacros .mod {
    flex: 0 0 100%;
}

.dwmacros .mod-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.dwmacros .dice-mod {
    position: relative;
    margin: 0 0 10px 0;
    line-height: 24px;
    text-align: left;
    background: #DDCCBB80;
    border: 1px solid #999;
    border-radius: 3px;
    box-shadow: 0 0 2px #FFF inset;
    word-break: break-all;
}